% Files that should not be under version control
*.txt
*.asv
*.docx
*.pptx
*.pdf
*.aux
*.bbl
*.blg
*.log
*.out
*.gz
*.png
*.toc
*.mat
*.lnk

% Folders that should not be under version control
src/YALMIP/*
*/slprj/*
./Meetings/*
